__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
.env
.git/
.gitignore
*.db
*.sqlite
*.log
.DS_Store
.vscode/
exports/*.csv
webhook_endpoint_data/*.json
apollo_data/*.json